    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul>
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Michael Parque</a>
          </div>
          <div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/about">About</a></li>
              <li><a href="/cv">CV</a></li>
              <li><a href="/projects">Portfolio</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </nav>
