<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

  </head>


  <body>
    {% include nav.html %}
    <div class="container">

      {{ content }}

    </div>

    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="mailto:mparque@athenahealth.com">email</a></li>
          <li><a href="https://github.com/mparq">github.com/mparq</a></li>
          <li><a href="https://twitter.com/mtparq">@mtparq</a></li>
        </ul>
      </div>
    </nav>
  </body>

</html>
